* {
  font-family: Helvetica;
  font-weight: 100;
  webkit-font-smoothing: antialiased;
}
div {
  border-radius: 2px;
  text-align: center;
  width: 100%;
}
html, body {
  padding: 0;
}
.navbar {
  background-color: white;
  border-bottom: 1px solid black;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
div#navbar-header {
  display: inline-block;
  font-size: 20px;
  margin: 0px;
}
div#navbar-header img {
  vertical-align: middle;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
ul li a.nav {
  color: #222322;
  color: black;
  padding-left: 7px;
  text-decoration: none;
}
ul li a.nav:hover {
  text-decoration: underline;
}
#menus {
  margin: auto;
  max-width: 100vh;
  text-align: center;
}
.all-location {
  background-color: white;
  border-collapse: collapse;
  max-width: 100vh;
}
.location {
  display: none;
  max-width: 100vh;
}
.campus {
  margin: auto;
  margin-top: 10px;
  max-width: 100vh;
  border: 1px solid #BD0000;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.campus:not(:first-child) {
  margin-top: 10px;
}
.campus:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.menu {
  background-color: white;
  color: black;
  font-size: 15px;
  margin: auto;
  max-width: 100vh;
  text-align: center;
}
.menu-wrapper {
  display: none;
}
.eatery-wrapper {
  margin-top: 5px;
  background-color: white;
  color: black;
  max-width: 100vh;
  border-top: 1px solid #BD0000;  
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.name {
  background-color: white;
  color: black;
  font-size: 20px;
  max-width: 100vh;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);  
}
.name:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  /*background-color: #E6E6E6;*/
}
.menu-period {
  font-size: 18px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.location-header {
  background-color: #ffcccc;
  color: black;
  font-size: 25px;
  max-width: 100vh;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center; 
  cursor: pointer;
}
.location-header:hover {
/*  background-color: #E6E6E6;
*/}
#welcome-div {
  background-color: white;
  border: 1px solid #BD0000;
  border-collapse: collapse;
  color: black;
  font-size: 20px;
  height: auto;
  line-height: 30px;
  margin: auto;
  margin-top: 5px;
  max-width: 100vh;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
img {
  height: 45px;
  width: 45px;
}
.closed {
  background-color: #ffe6e6;
}
.open {
  background-color: #99ff99;
}
.loader {
  position: relative;
  top: 100px;
}

